# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
pm2.log
debug.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
build/
dist/
.DS_Store

# Cache
.cache/
.vscode/
coverage/
*.bak

# OS files
Thumbs.db
.DS_Store

# IDE files
.idea/
*.iml
*.swp

# Temporary files
*.tmp
*.temp
*.bak
